<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('https://cnet3.cbsistatic.com/img/N5Abd5iOyTKH-N623vvTZJLY-OE=/fit-in/970x0/2017/03/23/4289b321-66ff-419f-b4ed-912669f964ac/gettyimages-517073373.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                   <div>
                    <%= form_tag :class => "form-inline" do %>
                     <%= text_field_tag :search, params[:search], :placeholder => "Job title, Common keywords", class: "form-control searchform" %>
                     <%= select_tag "select-location", options_for_select(["Select Location", "San Francisco", "Everywhere Else"])%>
                     <%= submit_tag "Submit"%>
                    <% end %>
                   </div>
                   <div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <h3 class="homepage-text">Why BareSkills?</h3>
        <h3 class="homepage-tagline">Bare skills matches your skills to the job you're looking for.</h3>
    </div>
  </div>
  <div class="container">
    <div class="row flex-row flex-nowrap">
      <div class="col-3" style="width: 40rem;">
        <img class="card-img-top" src="http://www.sftravel.com/sites/sftraveldev.prod.acquia-sites.com/files/field/image/site-photo.jpg" alt="San Francisco">
        <div class="card-block">
          <h4 class="card-title">San Francisco</h4>
          <p class="card-text">See a listing of jobs in San Francisco.</p>
          <a href="#" class="btn btn-primary">View Jobs</a>
        </div>
      <div class="col-3" style="width: 40rem;">
        <img class="card-img-top" src="https://chicagodowntowntheloop.place.hyatt.com/content/dam/PropertyWebsites/place/chizp/Media/All/Hyatt-Place-Chicago-Downtown-The-Loop-P014-Skyline-North-Lakeshore.masthead-feature-panel-medium.masthead-feature-panel-medium.jpg" alt="Chicago">
        <div class="card-block">
          <h4 class="card-title">Chicago</h4>
          <p class="card-text">See a listing of jobs in Chicago.</p>
          <a href="#" class="btn btn-primary">View Jobs</a>
        </div>
      </div>
      <div class="col-3" style="width: 40rem;">
        <img class="card-img-top" src="https://media-cdn.tripadvisor.com/media/photo-s/05/a4/f1/84/los-angeles.jpg" alt="Los Angeles">
        <div class="card-block">
          <h4 class="card-title">CLos Angeles</h4>
          <p class="card-text">See a listing of jobs in CLos Angeles.</p>
          <a href="#" class="btn btn-primary">View Jobs</a>
        </div>
      </div>
      <div class="col-3" style="width: 40rem;">
        <img class="card-img-top" src="https://www.gentlegiant.com/wp-content/uploads/2015/06/New-York.jpg" alt="New York">
        <div class="card-block">
          <h4 class="card-title">New York</h4>
          <p class="card-text">See a listing of jobs in New York.</p>
          <a href="#" class="btn btn-primary">View Jobs</a>
        </div>
      </div>
      </div>
  </div>
</div>
