/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.user {
  margin-top: 100px;
  margin-left: 50px;
}

.profile p {
  margin: 5px;
}

.experience {
  margin-top: 50px;
}

li {
  font-size: .75em;
}

.picz {
  display: flex;
  justify-content: left;
}

.picz img {
  height: 50px;
  width: 50px;
  margin: 0 10px;
}

.education {
  display: flex;
  justify-content: left;
}

.education img {
  height: 100px;
  width: 170px;
  margin: 0 10px;
}

.education p {
  font-size: .75em;
}
