<%# add navigation links to this file %>
<li>
    <%= link_to 'Departments', root_path %>
</li>
<li>
    <%= link_to 'Locations', page_path('about') %>
</li>
<li>
    <%= link_to 'View All Jobs', page_path('post') %>
</li>
